<!docType html>

<title>{% block title %}{% endblock %} C.R.U.D. Patricio Leppe</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<body>  


<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="nav-link active" href="{{url_for('crud.modulos')}}">
        C.R.U.D. Patricio Leppe
    </a>
    <ul class="login"><li>
        {% if g.user %}
               Bienvenido {{ g.user['username'] }} 
            {% else %}
                <a href="{{ url_for('auth.register') }}">Registrarse</a>
                
            {% endif %}
        </li>
        <li>
        {% if g.user %}
               </span><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
            {% endif %}
        </li>
    </ul>

  </div>
</nav>


<ul class="nav">
    
    <li class="nav-item">
        <a class="nav-link" href="#">
            
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            
        </a>
    </li>
</ul>



<section class="content">
    <header>
        {% block header %}{% endblock %}  
    </header>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
         <div class="flash">{{ message }}</div>
    </div>
   
    
    {% endfor %}

    {% block content %} {% endblock %}

</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/funciones.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.6.0.min.js') }}"></script>
</body>